.header {
  z-index: 5;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: rem(18px) 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba($wc, 0.1);


  &__logo {
    & img {
      width: rem(225px);
    }
  }

  &__link {
    transition: 0.3s ease-out;
    text-transform: uppercase;
    color: $navColor;
    font-size: rem(14px);
    &:hover {
      
      
      color: $mainColor;
    }
    &.nav__active {
      position: relative;
      color: $mainColor;
      &:after {
        content: " ";
        position: absolute;
        left: 0;
        top: rem(48px);
        width: 100%;
        height: rem(3px);
        border-radius: 10px;
        background-color: $mainColor;
      }
      
    }
  }

  &__social {
    display: inline-flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: rem(25px);
    height: rem(25px);
    background-color: rgba($color: #887e7b, $alpha: 0.2);
    &:hover {
      & i {
        color: $wc;
        
      }
    }

    & i {
      margin-top: rem(2px);
      transition: 0.3s ease-in;
      font-size: rem(11px);
      color: #9c9c9c;
    }

  }
}
