@import "fontface";


@include font-face("Gilroy", "../fonts/gilroy/light/Gilroy-Light", 200);
@include font-face("Gilroy", "../fonts/gilroy/regular/Gilroy-Regular", 400);
@include font-face("Gilroy", "../fonts/gilroy/medium/Gilroy-Medium", 600);
@include font-face("Gilroy", "../fonts/gilroy/semiBold/Gilroy-Semibold", 800);
@include font-face("Gilroy", "../fonts/gilroy/bold/Gilroy-Bold", 1000);


@font-face {
  font-family: 'fontello';
  src: url('../fonts/icons/fontello.eot');
  src: url('../fonts/icons/fontello.eot') format("embedded-opentype"), url('../fonts/icons/fontello.woff2') format("woff2"), url('../fonts/icons/fontello.woff') format("woff"), url('../fonts/icons/fontello.ttf') format("truetype"), url('../fonts/icons/fontello.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?56345688#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-upload:before { content: '\dc'; } /* 'Ü' */
.icon-play:before { content: '\25b6'; } /* '▶' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-instagram:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-calendar:before { content: '📅'; } /* '\1f4c5' */

