@import "rem";

$mainFont: "Gilroy", sans-serif;
$titleFont: "Russo One", sans-serif;

$bodyColor: #141414;
$secondBodyColor: #181818;
$footerColor: #0e0e0e;
$borderColor: #222222;
$mainColor: #ec1c24;
$titleColor: #fff;
$subtitleColor: #b2b2b2;

$navColor: #dcdcdc;

$wc: #fff;
$bc: #000;


$width: 1170px;

